doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    title HomeTube
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    h1 HelloWorld 
    script(src="/public/js/app.js")